*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightblue;
}
.container{
    display: flex;
    flex-direction: row;
    display: inline-block;
    width: 250px;
    background: #fffde7;
    padding: 20px;
}
.tittle{
    margin: auto;
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: blue;
}
.price{
    color: #fa3808;
    margin: auto;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}
.description{
    color: rgb(41, 41, 41);
    margin: auto;
    text-align: center;
    font-size: 16px;
}
.image{
    margin: 0 30px;
    width: 150px;
    height: 100px;
}